body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 100%;
  height: 100%;
}

.remote-controls {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(32, 134, 56, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.remote-controls button {
  padding: 1%;
  border-radius: 10px;
  background-color: rgba(32, 134, 56, 1);
  color: white;
  border: none;
  margin-right: 0.5%;
  box-shadow: 2px 2px 2px black;
  font-weight: bold;
}